body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* Uso de flexbox para criar um layout responsivo */
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Garante que o body ocupe toda a altura da viewport */
}

header, footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
}

main {
    flex: 1; /* Faz o conteúdo principal ocupar todo o espaço disponível */
    padding: 2rem;
    text-align: center;
}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

/* Media query para telas menores que 600px de largura */
@media (max-width: 600px) {
    header h1 {
        font-size: 1.5rem; /* Reduz o tamanho da fonte do título para telas menores */
    }

    main {
        padding: 1rem; /* Reduz o padding para telas menores */
    }
}
